<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >
  <py:match path="minornavigation">
    <div id="wb-sec" >
      <div id="wb-sec-in">
        <nav role="navigation">
          <h2 id="wb=nav">Secondary Menu</h2>
          <div class="wb-sec-def">

            <section class="module-menu-section">
              <h3><a href="${h.url_for('ckanadmin', action='index')}">Home</a></h3>
              
              <ul class="nav nav-pills">
                <li class="${'active' if c.action=='authz' else ''}">
                  <a href="${h.url_for('ckanadmin', action='authz')}">Authorization</a>
                </li>
                <li class="${'active' if c.action=='trash' else ''}">
                  <a href="${h.url_for('ckanadmin', action='trash')}">Trash</a>
                </li>
              </ul>
            </section>
          </div>
        </nav>
      </div>
    </div>
  </py:match>
  
  <xi:include href="../layout.html" />
</html>


